{% extends "base.html" %}
{% load static %}

{% block title %}Budgets{% endblock %}

{% block css_files %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'et_transactions/transactions.css' %}">
{% endblock %}

{% block content %}
<section class="section-listing">
    <h2>Active Budgets</h2>
    <ul>
        {% for budget in budgets %}
            {% include "et_transactions/includes/budget.html" %}
        {% empty %}
            <li>No budgets configured yet.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
