{% extends "base.html" %}
{% load static %}

{% block title %}Expenses{% endblock %}

{% block css_files %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'et_transactions/transactions.css' %}">
{% endblock %}

{% block content %}
    <section class="section-listing">
        <h2>My Transaction Expenses</h2>
        <ul>
            {% for expense in expenses %}
                {% include "et_transactions/includes/expense.html" %}
            {% empty %}
                <li>No expenses recorded yet.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
