{% extends "base.html" %}
{% load static %}

{% block title %}Income{% endblock %}

{% block css_files %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'et_transactions/transactions.css' %}">
{% endblock %}

{% block content %}
<section class="section-listing">
    <h2>Recorded Income</h2>
    <ul>
        {% for income in incomes %}
            {% include "et_transactions/includes/income.html" %}
        {% empty %}
            <li>No income recorded yet.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
