html {
    font-family: 'Montserrat', sans-serif;
  }

.login-form input {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .login-form button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f5132;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #198754;
    }
  }